<!DOCTYPE html>
<html>
<head><title>Donate</title></head>
<body>
    <h2>Hi {{ username }}, student ID {{ student_id }}!</h2>
    <p> Thanks for choosing to donate.</p>
    <h2>Please chose what items you'd like to donate.</h2>
    <button> $25 - Meal </button>
    <button> $10 - Snack </button>

<!-- have buttons ? can't cap $50, one for meal one for $25 and each time clicked added to the amountDonated variable -->
<!-- check if its $50 or more prevent it before it happens -->
</body>
</html>
g